
Kaggle/Backpack Challenge/test.csv
Kaggle/Backpack Challenge/train.csv
Kaggle/Backpack Challenge/training_extra.csv
Tableau Dashboards/2025 04 25 Sales & Customer Dashboard/Sales & Customer Dashboard Title Slide.pptx
